<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Topic</h2>
</div>

<form action="/Add-topics/<%= post._id %>" method="POST">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Topic Name" name="name" required>

    <label for="image"><b>Image URL</b></label>
    <input type="text" placeholder="https://example.com/image.jpg" name="image">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10" required></textarea>

    <input type="submit" value="Add" class="btn">
</form>
