<h1><%= data.title %></h1>
<p><strong>By:</strong> <%= username %></p>
<article class="article">
    <% if (data.image) { %>
    <img src="<%= data.image %>" alt="Post Image" class="post-image" />
    <% } %>

    
    <p><%= data.body %></p>
</article>
