<h3>sign in</h3>
<form action="/admin" method="POST">
    <label for="username "><b>username</b></label>
    <input type="text" placeholder="enter username" name="username">
    <label for="password "><b>password</b></label>
    <input type="password" placeholder="enter password" name="password">
    <input type ="submit" value="login" class="btn">

</form>
<h3>register</h3>
<form action="/register" method="POST">
    <label for="username "><b>username</b></label>
    <input type="text" placeholder="enter username" name="username">
    <label for="password "><b>password</b></label>
    <input type="password" placeholder="enter password" name="password">
    <input type ="submit" value="register" class="btn">
    
</form>
<a href="/auth/google" class="btn">Sign in with Google</a>